<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<!--
<li>
    <a href="https://500px.com/_eigenfoo" itemprop="sameAs">
        <i class="fab fa-500px" aria-hidden="true"></i> 500px
    </a>
</li>
<li>
    <a href="https://www.flickr.com/photos/_eigenfoo" itemprop="sameAs">
        <i class="fab fa-flickr" aria-hidden="true"></i> Flickr
    </a>
</li>
-->
